body {
    background-color: #fffbf7 !important;
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }
  
  .navbar {
    background-color: #fffbf7;
    text-align: center;
    color: #025157;
    font-weight: 500;
  
    ul {
      padding: 0;
    }
  }
  
  .actions {
    text-align: right;
    font-size: 14px;
  
    & > * {
      margin: 0 10px;
    }
  
    a {
      color: #67b54b;
    }
  
    button {
      background-color: #67b54b;
      color: white;
      padding: 12px 14px;
      border: 0;
      border-radius: 5px;
    }
  }

  .flecha {
    margin: 0 auto;
    height: 130px;
    width: 130px;
    margin-bottom: 35px;
  
    .flecha-contenedor {
      position: relative;
      height: 150px;
      width: 150px;
      margin-bottom: 65px;
  
      .flecha-animada {
        position: absolute;
        animation-name: up-and-down;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        height: 130px;
        width: 130px;
  
        img {
          width: 130px;
          transform: rotate(-90deg);
        }
      }
    }