body{
    background-color: #fffbf7;
}
h1{
    color: #025157;
    text-align: center;
}
p{
    color: #555454;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
ul{
    display: inline;
    color: #025157;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
}

header > * {
    display: inline-block;
    margin: 40 0 20 20;
}
